.site-contacts {
  margin-top: 9px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }

  &__item {
    margin-bottom: 9px;
  }
}
