.footer {
  display: block;
 
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
  text-align: center;
  
  background-color: $dark-bg;

  &__container {
     @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__box {

    @media screen and(max-width: 1199px) {
      margin-bottom: 60px;
    }
  
    @media screen and(min-width: $tablet) {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }
  
    @media screen and(min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  &__content {
      @media screen and (max-width: 767px) {
        margin-bottom: 60px;
      }
    
      @media screen and(min-width: $tablet) {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(50% - 30px);
      }
    
      @media screen and (min-width: $desktop) {
        width: 270px;
        margin-left: 0;
        margin-right: 30px;
    
        text-align: start;
  }

  &__subscription{
    
    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
}

  .logo-web {
    margin-bottom: 20px;
  }
}
