.works {
  padding-bottom: 94px;

  @media screen and(max-width:1199px) {
    display: none;
  }
}

.work-img {
  display: flex;
  justify-content: space-between;

  .item {
    display: inline-block;
  }
}

.work-thumbs {
  position: relative;

  .work-text {
    position: absolute;

    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 27px;
    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;

    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
